div.pages{
    display: flex;
}
body {
    background-color: #ECEBEB;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(7, 150px);
}

div.wrapper {
    grid-column: 2;
}

header {
    background-color: #ECEBEB;
    height: 80px;
    margin-bottom: 40px;
    border-radius: 10px;
}
section.form-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 20ch;
}
main {
    background-color: #bde6f3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    gap: 50px;
    padding: 50px;
    border-radius: 10px;
}

section.random-box {
    grid-row: 1;
}

section.main {
    grid-row: 1/ span 3;
    grid-column: 2;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 5px;
    background-image: url(media/yellowflask.png);
    background-repeat: no-repeat;
    background-size: 80%;
}

div.pages {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.pages button{
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

div.pink-box {
    z-index: 5;
    grid-row: 2/ span 2;
    background-color: #e9d8d8;
    border-radius: 5px;
    background-image: url(media/black-beer-flask-pink-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

div.tabs {
    grid-column: 3;
    grid-row: 1/ span 6;
    display: flex;
    flex-direction: column;
}

.tab {
    padding-right: 20px;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    height: 150px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabs .indexTab {
    margin-top: 140px;
    background-color: white;
    z-index: 10;
}

.searchTab {
    background-color:#bde6f3;
    margin-top: -30px;
    z-index: 12;
    width: 60px;
    height: 160px;
}

.infoTab {
    background-color: #e9d8d8;
    margin-top: -30px;
    z-index: 6;
}