div.pages{
    display: flex;
}
body {
    background-color: #ECEBEB;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(7, 150px);
}

div.wrapper {
    grid-column: 2;
}

header {
    background-color: white;
    height: 80px;
    margin-bottom: 40px;
    border-radius: 10px;
}

main {
    background-color: #8BE3FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 150px);
    gap: 50px;
    padding: 70px;
    border-radius: 10px;
}

section.random-box {
    grid-row: 1;
}

section.main {
    grid-row: 1/ span 3;
    grid-column: 2;
    border-radius: 5px;
    background-image: url(media/yellowflask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.beer-info-img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    height: 300px;
    width: 70%;
    margin-top: 10px;
    align-self: center;
}

div.pages {
    display: flex;
    justify-content: space-evenly;
}

div.pink-box {
    grid-row: 2/ span 2;
    background-color: #FFCACA;
    border-radius: 5px;
    background-image: url(media/black-beer-flask-pink-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

div.tabs {
    grid-column: 3;
    grid-row: 1/ span 6;
    display: flex;
    flex-direction: column;
}

.tab {
    padding-right: 20px;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    height: 150px;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabs .indexTab {
    margin-top: 140px;
    background-color: white;
    z-index: 10;
}

.searchTab {
    background-color: #8BE3FF;
    margin-top: -30px;
    z-index: 12;
    width: 60px;
    height: 160px;
}

.infoTab {
    background-color: #FFCACA;
    margin-top: -30px;
    z-index: 6;
}